
/* Default font for body */
body {
    font-family: 'Space Grotesk', sans-serif !important;
}

/* secondary font */
.secondary-font, #secondary-font {
    font-family: 'JetBrains Mono', monospace !important;
}

/* primary font */
.primary-font, #primary-font {
    font-family: 'Space Grotesk', sans-serif !important;
}

/* Default font */
.default-font, #default-font {
    font-family: 'Space Grotesk', sans-serif !important;
}