{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
{{ if .Params.viewer | default true }}
<link rel="stylesheet" href="{{ (printf "%scss/gallery.css" (.Site.Params.staticPath | default "/")) | relURL }}">
<link rel="stylesheet" href="{{ (printf "%sviewer/viewer.min.css" (.Site.Params.staticPath | default "/")) | relURL }}">
<script src="{{ (printf "%sviewer/viewer.min.js" (.Site.Params.staticPath | default "/")) | relURL }}"></script>
{{ end }}

{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container pt-5" id="list-page">
    <h2 class="text-center pb-2">{{.Title}}</h2>
    <h6 class="text-center">{{ .Params.description | emojify }}</h6>
    <div class="row p-4">
        {{ .Content | emojify }}
    </div>
    <div class="card-group p-4">
        <div class="row justify-content-center">
            {{ $galleryPath := "static/images/gallery" }}
            {{ $viewerEnabled := .Params.viewer | default true }}
            {{ range readDir $galleryPath }}
            {{ if not .IsDir }}
            {{ $ext := lower .Name }}
            {{ if or (hasSuffix $ext ".jpg") (hasSuffix $ext ".jpeg") (hasSuffix $ext ".png") (hasSuffix $ext ".gif") (hasSuffix $ext ".webp") }}
            <div class="col-md-4 p-2">
                <div class="card p-0 m-0 border-0 bg-transparent">
                    <img class="w-100{{ if $viewerEnabled }} viewer-enabled-image{{ end }}" src="{{ printf "/images/gallery/%s" .Name | relURL }}" loading="lazy">
                </div>
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>

{{ if .Params.viewer | default true }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var viewer = new Viewer(document.getElementById('list-page'), {
            ...{{ .Params.viewerOptions }}
        });
    });
</script>
{{ end }}

{{ end }}
